@page
@model ManagerCV.Pages.CancellaSedeModel
@{
}
<h1>Elimina la sede di @($"{Model.Sede.Città}")</h1>

<h3>Sei sicuro di voler proseguire? Quest'azione è irreversibile.</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sede.Città)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sede.Città)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sede.Indirizzo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sede.Indirizzo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sede.Provincia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sede.Provincia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sede.Cap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sede.Cap)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sede.RecapitoTel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sede.RecapitoTel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sede.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sede.Email)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Sede.Id" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-page="./ElencoSedi" class="btn btn-primary">Torna alla Lista</a>
    </form>
</div>

